<h1>Register</h1>

<form id="" action="/register" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="enter your name" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

    </div>
</form>
<a href="/login" id="">Login</a>